* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* height: 100%; */
}

:root,
:root.dark {
    --image-bg: #101518;
    --primary: #ABABAB;
    --link: #98b7d1;
    --light: #e6f2fb;
    /* --leftShadow: #252E32; */
    --leftShadow: #1a2226;
    --rightShadow: #0a0d0f;
    --background: #fff;
    --font-color: #AEC2D2;
    --blur-bg: #272c2f87;
    --blur-bg: #101518;
    --border-color: #aec2d262;
    --shadow: #0000004f;
}

:root.light {
    --rightShadow: #BCC4D5;
    --link: #434c5b;
    --leftShadow: #E8F2FF;
    --background: #D2DBEE;
    --leftShadow: #E8F2FF;
    --rightShadow: #BCC4D5;
    --font-color: #31456a;
    --blur-bg: #D2DBEE;
    --border-color: #f1f8f862;
    --shadow: #a0a8b274;
    --image-bg: #D2DBEE;
}

/* mode switcher */
.btn {
    position: fixed;
    top: 1rem;
    right: 2.5rem;
    background: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 2px;
    z-index: 9999;
}



.btn i {
    font-size: 24px;
}

input {
    appearance: none;
    height: 1.60rem;
    width: 3rem;
    border-radius: 1rem;
    position: relative;
    background-color: var(--font-color);
    display: flex;
    align-items: center;
    /* gap: 5px; */
    justify-content: space-between;
    transition: background-color 0.2s ease;

    &:hover {
        background-color: var(--font-color);

        &::before {
            color: var(--font-color);
        }
    }
}

input::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    height: 1rem;
    width: 1rem;
    background-color: #fff;
    border-radius: 50%;
    margin: 0.25rem;
    z-index: 9;
    cursor: pointer;
    will-change: transform;
    transition: transform 0.2s ease;
}

input::before {
    display: block;
    position: absolute;
    margin: 0.55rem 0.5rem;
    content: " 🌑";
    right: 0;
    color: #313843;
}

input:checked {
    background-color: var(--font-color);

    &:hover {
        background-color: var(--font-color);
    }

    &::before {
        content: "☀";
        left: 0;
        font-size: 18px;
        color: hwb(43 28% 0%);
    }

    &::after {
        transform: translateX(1.5rem);
    }
}

/*  */
body {
    background-color: var(--image-bg);
    color: var(--font);
}

body {
    overflow-y: hidden;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
    min-height: 100dvh;
    padding: 20px;
    width: 100%;
    gap: 10px;
}

h1,
h2,
p,
span {
    color: var(--normal);
}

h1,
h2 {
    font-weight: 600;
}

span {
    font-size: 0.9rem;
    font-weight: 500;
}

a {
    text-decoration: none;
    color: var(--font);
}

.flex {
    display: flex;
}

.bottom-section,
.top-section {
    flex: 1;
    height: 100%;
}

/* --------------- top section  --------------------- */
.top-right {
    flex: 1;
    gap: 9px;
    flex-direction: column;
}

.top-section {
    gap: 10px;
    height: 50%;
    border-bottom: gray solide 5px;
}

.top-left {
    flex: 1;
    flex-wrap: wrap;
    gap: 9px;

}

.top-left h1 {
    font-size: 3rem;

}

.top-top-lef {
    flex: 3;
    border-radius: 25px;
    padding: 10px 15px;
    position: relative;
    background-color: var(--blur-bg);
    box-shadow: 11px 11px 15px var(--rightShadow), -11px -11px 15px var(--leftShadow);

}

.top-top-lef .cv {
    position: absolute;
    bottom: 20px;
    right: 10%;
    padding: 0.5rem 1rem;
    border-radius: 50px;
    background-color: #C86870;
    color: var(--link);
}

.bottom-top-left {
    width: 100%;
    display: flex;
    gap: 9px;
    justify-content: space-around;
}

.one,
.two,
.three {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    border-radius: 25px;
    padding: 10px 15px;
}

.one {
    background-color: #08B898;
}

.two {
    background-color: #f8c038;
}

.two h2,
.two span {
    color: var(--image-bg);
}

.three {
    background-color: #C86870;
}

.nav {
    color: var(--normal);
    width: 100%;
    border-radius: 15px;
    background-color: var(--blur-bg);
    padding: 10px;
    justify-content: space-between;
    box-shadow: 11px 11px 15px var(--rightShadow), -11px -11px 15px var(--leftShadow);

}

.section-top-right {
    width: 100%;
    gap: 9px;
    height: 100%;
}

.infos-links {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.name {
    border-radius: 15px;
    background-color: var(--blur-bg);
    box-shadow: 11px 11px 15px var(--rightShadow), -11px -11px 15px var(--leftShadow);

    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name span,
.title-skills span {
    color: var(--primary);
    font-weight: 300;
}

.name h2 {
    font-size: 1.2rem;
}

.skills {
    border-radius: 15px;
    background-color: var(--blur-bg);
    box-shadow: 11px 11px 15px var(--rightShadow), -11px -11px 15px var(--leftShadow);

    padding: 10px;
    height: 100%;
}

.skills-icons {
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
    justify-content: space-between;
}

.social-links {
    border-radius: 15px;
    background-color: var(--blur-bg);
    box-shadow: 11px 11px 15px var(--rightShadow), -11px -11px 15px var(--leftShadow);

    padding: 10px;
    display: flex;
    gap: 3px;
    justify-content: space-between;
}

.profile-picture {
    height: 100%;
    flex: 1;
}

.profile-picture img {
    object-fit: cover;
    width: 100%;
    border-radius: 25px;
    height: 100%;
}

/* .profile-picture img [title]{

    background-color: #78b4e4;
    color: #141e26;
    border-radius: 5px;
    padding: 5px;
} */

/* ---------------  portfolio & resume- ----------------- -- */

.bottom-section {
    width: 100%;
    height: 100%;
    gap: 9px;
    color: var(--font-color);
}


.about {
    flex: 1;
    gap: 25px;
    flex-direction: column;
    border-radius: 25px;
    padding: 15px 15px;
    background-color: var(--blur-bg);
}

.portfolio {
    flex: 1;
    gap: 25px;
    flex-direction: column;
    border-radius: 25px;
    padding: 15px 15px;
    background-color: var(--blur-bg);
}

.about-header,
.portfolio-header {
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.about .text {
    height: 100%;
}

@media screen and (max-width: 900px) {
    body {
        overflow-y: scroll;
    }

    .top-section,
    .bottom-section {
        flex-direction: column-reverse;
    }

    .top-top-lef {
        padding: 25px 15px;
    }

    .top-left h1 {
        font-size: 2rem;
        margin-bottom: 2rem;

    }

    .top-top-lef .cv {
        position: initial;
        margin-top: 5rem;
    }

    .profile-picture img {
        object-fit: cover;
        width: 100%;
        border-radius: 15px;
        height: 100%;
    }

    .one,
    .two,
    .three {
        border-radius: 15px;
    }
}